{% extends "base.html" %}

{% block title %}Resete sua senha{% endblock %}
{% block content %}
    <h1>Resete sua senha</h1>
    {% if validlink %}
        <p>Por favor, digite sua nova senha duas vezes:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Altere minha senha"/></p>
        </form>
    {% else %}
        <p>O link para resetar a senha é inválido, possivelmente porque já está expirado. Por favor,solicite um novo
            reset da senha.</p>
    {% endif %}
{% endblock %}